@import "@/sass/public/_variable.scss";
@import "@/sass/public/_mixin.scss";
$colors: $color-black, $color-blue-dark, $color-pink, $color-white;

.caculating {
  .container {
    // @include outline(red);
    @include flex(center);

    position: fixed;
    width: 100%;
    height: 100vh;

    // .text {
    //   text-align: center;
    //   white-space: nowrap;
    // }

    .title {
      text-align: center;
      color: $color-white;
      font-family: Roboto;
      font-size: 64px;
      font-weight: bold;
    }

    .subtitle2 {
      margin-top: 16px;
      color: $color-white;
      font-family: Roboto;
      font-size: 24px;
      line-height: 36px;
    }

    button {
      display: none;
      width: 380px;
      height: 56px;
      margin-top: 24px;
      text-align: center;
      color: #ffffff;
      border: 2px solid #ffffff;
      border-radius: 30.5px;
      outline: 0;
      background-color: transparent;
      font-family: Roboto;
      font-size: 20px;
      line-height: 36px;

      &:hover {
        color: $color-white;
        background-color: $color-blue-light;
      }
    }
  }

  @for $i from 1 through 30 {
    .triangle_#{$i} {
      position: absolute;
      top: calc(100vh + #{random(2000)}px);
      left: calc(#{random(500)}px);
      transform: rotate(45deg);
      border-right: 64px solid transparent;
      border-bottom: 147px solid nth($colors, random(4));
      border-left: 64px solid transparent;
    }
  }

  .triangle_big {
    position: absolute;
    top: 200%;
    right: 200%;
    transform: rotate(45deg);
    border-right: 64px solid transparent;
    border-bottom: 147px solid $color-pink;
    border-left: 64px solid transparent;
  }

  .done {
    position: absolute;
    top: calc(100vh + 1000px);
    right: 0;
    color: transparent;
  }
}
