// color
$color-blue-light: #1469ff;
$color-blue-dark: #0027c8;
$color-pink: #ff3c82;
$color-white: #ffffff;
$color-black: #000000;
$color-bg: #1469ff;

// font size
$font-size-title: 64px;
$font-size-subtitle: 36px;
$font-size-subtitle2: 24px;
$font-size-placeholder: 20px;

// breakpoint
$mq-pad: 768px;
$mq-mobile: 767px;
